.nav,
[class*="nav-item"],
.nav-item-sec ul {
  display: flex;
  gap: var(--gap);
}

[class*="nav-item"] {
  justify-content: center;
}

.nav,
[class*="nav-item"] {
  align-items: center;
}

.nav {
  height: 50px;
  background-color: var(--color-light);
  position: sticky;
  top: 0;
  z-index: 10;
  gap: 0;
}

.nav i {
  color: var(--color-fst);
  font-size: calc(var(--fnt-sz-norm) * 1.1);
  cursor: pointer;
}

.nav-item-fst,
.nav-item-thd {
  flex: 3;
}

.nav-item-fst {
  gap: calc(var(--gap) * 1.5);
}

.nav-item-sec {
  flex: 6;
}

.nav-item-sec ul {
  list-style: none;
}

.nav-item-sec ul li {
  cursor: pointer;
}

.nav-item-thd img {
  width: calc(var(--fnt-sz-norm) * 1.4);
  height: calc(var(--fnt-sz-norm) * 1.4);
  border-radius: 50%;
  margin-left: var(--gap);
}

.nav-item-thd i {
  font-size: calc(var(--fnt-sz-norm) * 1.3);
}
