* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* mimic the adyen.com color palette */
  --color-fst: #088f3e;
  --color-sec: #e3f7ea;
  --color-trd: #00122c;

  --bdr: 1px solid lightblue;
  --radius: 8px;
  --fnt-sz-norm: 16px;
  --fnt-sz-small: 12px;
  --fnt-lora: "Lora", serif;
  --gap: 9px;
  --color-dark: #777;
  --color-light: snow;

  display: flex;
  flex-direction: column;
  gap: calc(var(--fnt-sz-norm) * 2);

  position: relative;
  background-color: #fff;
  min-height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: var(--fnt-sz-norm);
}

.wrapper {
  display: flex;
}

main,
aside {
  padding: var(--gap);
  border-radius: var(--radius);
}

main {
  flex: 9;
}

aside {
  flex: 3;
}

img {
  object-fit: cover;
}

i {
  font-size: var(--fnt-sz-small);
  color: var(--color-fst);
}

button {
  cursor: pointer;
  padding: 8px 16px;
  box-shadow: none;
  border: none;
  border-radius: var(--radius);
  background-color: var(--color-fst);
  color: var(--color-trd);
}

form {
  background-color: var(--color-light);
  border: 2px solid var(--color-dark);
  border-radius: var(--radius);
  padding: calc(var(--gap) * 2.5);
  min-width: 40vw;
  min-height: 25vh;
  max-width: 90vw;
}

form input,
form textarea {
  padding: 5px;
}

form ::placeholder {
  font-size: calc(var(--fnt-sz-small) * 0.85);
}
