* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: var(--bdr);
}

body {
  min-height: 100vh;
}

#root {
  --bdr: 1px solid lightblue;
  --radius: 8px;
  --fnt-sz: 15px;
  --fnt-lora: "Lora", serif;
  --gap: 8px;
  --mrg-norm: calc(var(--fnt-sz) / 2);
  --color-dark: #555;
  --color-light: snow;

  /* mimic the adyen.com color palette */
  --color-fst: #088f3e;
  --color-sec: #e3f7ea;
  --color-trd: #00122c;

  min-height: 100%;
  width: 100%;
  border: none;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: var(--fnt-sz);
}
