.postcard {
  background-color: var(--color-light);
  border-radius: var(--radius);
  overflow: hidden;
  margin-bottom: calc(var(--gap) * 2.2);
}

.postcard img {
  width: 100%;
  border-radius: var(--radius);
}

.postcard section {
  padding-left: var(--gap);
  padding-right: var(--gap);
}

.postcard section p {
  border-bottom: 1px solid var(--color-dark);
  padding-bottom: var(--gap);
  margin-bottom: calc(var(--gap) * 0.5);
}

.postcard-title {
  text-align: left;
}

.postcard-cats,
.postcard-date {
  font-size: var(--fnt-sz-small);
  color: var(--color-dark);
}

.postcard-cats > *,
.postcard-date i {
  margin-right: var(--gap);
}

.postcard i {
  font-size: 75%;
}
