.sidebar,
.sidebar section {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.sidebar {
  gap: calc(var(--gap) * 2.5);
}

.sidebar section {
  background-color: var(--color-light);
  border-radius: var(--radius);
  align-items: center;
}

.sidebar section > * {
  width: 90%;
}

.sidebar section span {
  font-family: var(--fnt-lora);
  font-size: var(--fnt-sz-small);
  text-align: center;
  color: var(--color-fst);
  border-bottom: 1px solid var(--color-trd);
  border-top: 1px solid var(--color-trd);
  padding: calc(var(--gap) / 2);
}

.sidebar section span i {
  margin-right: var(--gap);
  font-size: 80%;
}

.sidebar section img {
  max-height: 80%;
  border-radius: var(--radius);
}

.sidebar section p {
  text-align: justify;
  padding-left: var(--gap);
  padding-right: var(--gap);
}

.sidebar section ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0;
}

.sidebar section ul li {
  color: var(--color-dark);
  padding: var(--gap);
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar section ul li:nth-child(odd) {
  text-align: left;
}
.sidebar section ul li:nth-child(even) {
  text-align: right;
}

.sidebar section ul li:last-child {
  width: auto;
  text-align: center;
}
