.create,
.create form,
.create i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create {
  background-color: var(--color-sec);
}

.create #file {
  display: none;
}

.create #title,
.create textarea {
  flex-grow: 1;
}

.create form {
  flex-direction: column;
  gap: calc(var(--gap) * 2);
}

.create form section {
  width: 100%;
  display: flex;
  gap: var(--gap);
}

.create i {
  width: calc(var(--fnt-sz-norm) * 1.8);
  height: calc(var(--fnt-sz-norm) * 1.8);
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
}

.create textarea {
  max-width: 85vw;
  margin-left: calc(var(--fnt-sz-norm) * 1.8 + var(--gap));
}
